In [2]:
import torch
import torch.nn as nn
from torch import optim

import os
import pandas as pd
import numpy as np
from tqdm import tqdm
import importlib
import pickle

import models
import DataLoader
import utils
import main

In [2]:
# transform 1
# main.data_split()

In [ ]:
# transform 2
main.data_transform()

In [3]:
# transform 3
main.data_trans()

# try

In [12]:
path = './dataset/date_data/'
idpath = './dataset/data_information/id_list.csv'
ids = pd.read_csv(idpath)['chid']

features = ['chid', 'shop_tag', 'txn_amt', 'dt', 'masts', 'educd', 'trdtp', 'poscd', 'gender_code', 'age']
shop_tag = ['2', '6', '10', '12', '13', '15', '18', '19', '21', '22', '25', '26', '36', '37', '39', '48']

user_feature = ['masts', 'educd', 'trdtp', 'poscd', 'gender_code', 'age']

In [13]:
i = 1
dat = f'dt{str(i)}.csv'
p = path + dat
data = pd.read_csv(p)[features]

In [32]:
importlib.reload(utils)
outputs = utils.data_transform(data, ids, user_feature, shop_tag)

In [38]:
outputs[2][354952, :]

array([    0.        ,     0.        ,     0.        ,     0.        ,
           0.        , 10616.56154858,     0.        ,     0.        ,
           0.        ,     0.        ,     0.        ,     0.        ,
        5773.03648466,     0.        ,     0.        ,  8019.90666639])

In [17]:
shop_tag = ['2', '6', '10', '12', '13', '15', '18', '19', '21', '22', '25', '26', '36', '37', '39', '48']
user_feature = ['masts', 'educd', 'trdtp', 'poscd', 'gender_code', 'age']
features = ['id']
for i in shop_tag:
    features.append('tag' + i + '_txn')
features += user_feature
# features

In [28]:
for i in range(1, 25):
    with open(f'./dataset/user_features4/dt{str(i)}.pickle', 'rb') as f:
        d = pickle.load(f)[:, :23]
        d = pd.DataFrame(d, columns=features)
    d.to_csv(f'./dataset/Yushan_data/dt{str(i)}.csv', index=False)

In [20]:
d

,id,tag2_txn,tag6_txn,tag10_txn,tag12_txn,tag13_txn,tag15_txn,tag18_txn,tag19_txn,tag21_txn,...,tag36_txn,tag37_txn,tag39_txn,tag48_txn,masts,educd,trdtp,poscd,gender_code,age
0,10128239.0,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,...,0.000000,0.000000,0.00000,0.000000,1.0,4.0,8.0,1.0,0.0,4.0
1,10077943.0,0.000000,0.0,0.000000,0.0,6101.533235,0.000000,0.0,0.0,0.0,...,0.000000,0.000000,0.00000,0.000000,1.0,5.0,12.0,2.0,0.0,5.0
2,10277876.0,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,...,0.000000,0.000000,0.00000,0.000000,1.0,5.0,6.0,1.0,0.0,0.0
3,10364842.0,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,...,0.000000,0.000000,0.00000,0.000000,2.0,5.0,7.0,99.0,1.0,4.0
4,10392717.0,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,...,0.000000,0.000000,0.00000,8306.971364,2.0,3.0,5.0,2.0,1.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499995,10433239.0,0.000000,0.0,8948.064314,0.0,0.000000,0.000000,0.0,0.0,0.0,...,2999.481264,0.000000,0.00000,0.000000,2.0,3.0,12.0,1.0,1.0,3.0
499996,10235119.0,12778.192885,0.0,0.000000,0.0,0.000000,4443.379852,0.0,0.0,0.0,...,0.000000,0.000000,16748.17431,0.000000,2.0,3.0,11.0,1.0,1.0,4.0
499997,10267595.0,0.000000,0.0,14632.391904,0.0,0.000000,1934.162609,0.0,0.0,0.0,...,3918.914112,3398.538484,0.00000,12462.610501,2.0,3.0,8.0,2.0,1.0,3.0
499998,10160606.0,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,...,0.000000,0.000000,0.00000,0.000000,2.0,4.0,6.0,99.0,0.0,5.0
499999,10141759.0,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,...,0.000000,0.000000,0.00000,0.000000,2.0,6.0,15.0,99.0,0.0,2.0

In [15]:
d.shape

(500000, 29)

In [12]:
m = os.listdir('./dataset/user_features4')
m

['dt16.pickle',
 'dt4.pickle',
 'dt19.pickle',
 'dt3.pickle',
 'dt7.pickle',
 'dt5.pickle',
 'dt17.pickle',
 'dt22.pickle',
 'dt14.pickle',
 'dt20.pickle',
 'dt10.pickle',
 'dt23.pickle',
 'dt15.pickle',
 'dt2.pickle',
 'dt21.pickle',
 'dt18.pickle',
 'dt11.pickle',
 'dt1.pickle',
 'dt8.pickle',
 'dt9.pickle',
 'dt13.pickle',
 'dt24.pickle',
 'dt12.pickle',
 'dt6.pickle']

In [23]:
os.listdir('/home/r26091032/Yushan_data')

[]

In [26]:
d.to_csv('./dataset/Yushan_data/dt1.csv', index=False)

In [27]:
pd.read_csv('./dataset/Yushan_data/dt1.csv')

,id,tag2_txn,tag6_txn,tag10_txn,tag12_txn,tag13_txn,tag15_txn,tag18_txn,tag19_txn,tag21_txn,...,tag36_txn,tag37_txn,tag39_txn,tag48_txn,masts,educd,trdtp,poscd,gender_code,age
0,10128239.0,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,...,0.000000,0.000000,0.00000,0.000000,1.0,4.0,8.0,1.0,0.0,4.0
1,10077943.0,0.000000,0.0,0.000000,0.0,6101.533235,0.000000,0.0,0.0,0.0,...,0.000000,0.000000,0.00000,0.000000,1.0,5.0,12.0,2.0,0.0,5.0
2,10277876.0,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,...,0.000000,0.000000,0.00000,0.000000,1.0,5.0,6.0,1.0,0.0,0.0
3,10364842.0,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,...,0.000000,0.000000,0.00000,0.000000,2.0,5.0,7.0,99.0,1.0,4.0
4,10392717.0,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,...,0.000000,0.000000,0.00000,8306.971364,2.0,3.0,5.0,2.0,1.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499995,10433239.0,0.000000,0.0,8948.064314,0.0,0.000000,0.000000,0.0,0.0,0.0,...,2999.481264,0.000000,0.00000,0.000000,2.0,3.0,12.0,1.0,1.0,3.0
499996,10235119.0,12778.192885,0.0,0.000000,0.0,0.000000,4443.379852,0.0,0.0,0.0,...,0.000000,0.000000,16748.17431,0.000000,2.0,3.0,11.0,1.0,1.0,4.0
499997,10267595.0,0.000000,0.0,14632.391904,0.0,0.000000,1934.162609,0.0,0.0,0.0,...,3918.914112,3398.538484,0.00000,12462.610501,2.0,3.0,8.0,2.0,1.0,3.0
499998,10160606.0,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,...,0.000000,0.000000,0.00000,0.000000,2.0,4.0,6.0,99.0,0.0,5.0
499999,10141759.0,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,...,0.000000,0.000000,0.00000,0.000000,2.0,6.0,15.0,99.0,0.0,2.0

In [31]:
import os
os.getcwd()

'/home/re6091020/soa3/graph_learning/TBrainAI'

In [ ]:
'/home/re6091020/soa3/graph_learning/TBrainAI/dataset/Yushan_data/dt1.csv'